/* Estilo para el título h3 */
h3 {
    text-align: left;
    background-color: lightblue;
    padding: 10px;
}

/* Estilo para el párrafo con clase "centrado" */
.centrado {
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
}

/* Estilo para el párrafo con ID "derecha" */
#derecha {
    text-align: right;
    background-color: lightcoral;
    padding: 10px;
}
